*{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    background-image: linear-gradient(115deg, hsl(230.52631578947367deg,40.772532188841204%,45.68627450980392%) 5%, seagreen 100%);

}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width:80%;
    max-width: 700px;
    min-width: 425px;
    border-radius: 10px;
}
form h2, form p{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
form input, form textarea{
    border-style: solid;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 40px;
    color: white;
    background-color: transparent;
}
form button{
    padding: 15px;
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    width: auto;
    margin: 20px auto 0;
    border-radius: 30px;
    border-style: solid;
    transition: background-color 150ms;
}
form button:hover{
    color: black;
    background-color: white;
}
footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}
.message{

    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 16px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
