*{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    color: white;
}
main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(lightslategrey, black);
    display: flex;
    align-items: center;
    justify-content: center;
}
#pfp {
    height: 96px;
    width: 96px;
    display: block;
    border-radius: 50%;
    object-fit: contain;
    object-position: initial;
}

#GHub, #LnkdIn, #res, #contact {
    max-width: 700px;
    width: 80%;
    min-width: 425px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    transition: background-color 150ms;
    cursor: pointer;
    border-style: solid;
}

#res:hover{
    background-color: white;
    color: black;
}
#LnkdIn:hover{
    background-color: white;
    color: black;
}
#GHub:hover{
    background-color: white;
    color: black;
}
#contact:hover{
    background-color: white;
    color: black;
}
#instagram{
    background-color: white;
    color: black;
}
i{
    padding-right:20px;
    padding-top: 10px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}
p{
    color: white;
}